{
    "presets": ["react-native"],
    "env": {
        "development": {
            "plugins": ["transform-es2015-modules-commonjs"]
        }
    },
    "plugins": [
        [
            "transform-strict-mode", {
                "strict": false
            }
        ]
    ]
}
